@import "variables";

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

$playerMainColour: rgba(240, 240, 240, .9);

player {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 0;
  -webkit-user-select: none;

  canvas-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1;

    canvas {
      background-color: #000;
    }
  }

  title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: $headerHeight;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: $baseInnerPadding $baseInnerPadding*1.68;
    color: #fff;
    text-shadow: 0 0 2px #000;
    text-outline: 1px red;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    z-index: 2;
    opacity: 1;
    transition: all .2s ease;
  }

  loading-indicator {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    border-left: 3px solid rgba(255,255,255,1);
    animation: spin 1s infinite linear;
  }

  sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    width: 300px;
    background: $playerMainColour;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    overflow: hidden;

    pointer-events: none;
    opacity: 0;
    transform: translateX(-25px);
    transition: opacity .2s ease, transform .2s ease;

    &.open {
      transform: translateX(0px);
      opacity: 1;
      pointer-events: all;
    }

    info {
      display: block;
      flex-basis: $headerHeight;
      border-bottom: rgba(0, 0, 0, .15);
      box-shadow: 0 0 5px rgba(0, 0, 0, .25);

      heading {
        display: block;
        color: #333;
        width: 100%;
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
        padding: $baseInnerPadding $baseInnerPadding*1.68;
        padding-bottom: 0;

        @include ellipsis;
      }

      extra {
        display: block;
        width: 100%;
        color: #999;
        font-size: 12px;
        padding: $baseInnerPadding $baseInnerPadding*1.68;
        padding-top: 5px;
      }
    }

    playlist {
      display: block;
      flex-grow: 1;
      overflow-y: scroll;

      item {
        position: relative;
        display: flex;
        padding: $baseInnerPadding $baseInnerPadding*1.68;
        color: #333;
        margin-top: 1px;
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .15);
        transition: padding-left .2s ease;
        @include ellipsis;

        &:hover {
          padding-left: $baseInnerPadding*1.69+5px;
          background-color: rgba(0, 0, 0, .10);
        }

        &.current:before {
          display: block;
          content: '';
          position: absolute;
          top: $baseInnerPadding + 7;
          left: -5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--main-colour);
        }
      }
    }

    buttons {
      display: block;
      box-shadow: 0 0 5px rgba(0, 0, 0, .25);

      btn {
        display: block;
        padding: $baseInnerPadding $baseInnerPadding*1.68;
        border-bottom: solid 1px rgba(0, 0, 0, .15);

        i {
          color: var(--main-colour);
          margin-right: $baseInnerPadding*1.68;
        }

        &:hover {
          background-color: rgba(0, 0, 0, .15);
        }
      }
    }
  }

  controls {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: $playerMainColour;
    color: #333;
    font-family: 'Open Sans';
    z-index: 2;
    transition: all .2s ease;

    progress-bar {
      width: 100%;
      display: block;
      position: relative;
      height: 10px;
      transition: all .2s ease;

      track {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 5px;
        background-color: var(--main-colour);
        pointer-events: none;
        transition: height .2s ease;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .05);

        track {
          height: 10px;
        }
      }
    }

    row {
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5px;
      height: 30px;

      left,
      right {
        display: flex;
        flex-grow: 1;
      }

      left {
        justify-content: flex-start;
        margin-left: 5px;
      }

      center {
        display: flex;
      }

      right {
        justify-content: flex-end;
        margin-right: 5px;
      }
    }

    btn {
      display: block;
      background: transparent;
      color: var(--main-colour);
      border: none;
      outline: none;
      height: 30px;
      line-height: 1;
      padding: 5px 10px 0 10px;
      text-align: center;
      transition: all .2s ease;

      &:hover {
        background: rgba(0, 0, 0, .15);
      }

      &[disabled] {
        pointer-events: none;
        color: rgba(0, 0, 0, .5);
      }

      i {
        vertical-align: middle;
        font-size: 14px;
      }

      &.play-pause {
        width: 60px;

        i {
          font-size: 20px;
        }
      }

      &.volume {
        width: 35px;
      }

      &.prev i,
      &.next i {
        transform: scaleY(.6);
      }

      &.subs, &.dubs {
        position: relative;

        dropdown {
          max-width: 300px;
          display: block;
          position: absolute;
          bottom: calc(100% + 15px);
          right: -50%;
          background: $playerMainColour;
          border-bottom: none;

          opacity: 0;
          transform: translateY(10px);
          pointer-events: none;
          transition: opacity .2s ease, transform .2s ease;

          &.open {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
          }

          item {
            position: relative;
            display: block;
            padding: $baseInnerPadding/2 $baseInnerPadding/2*1.68;
            overflow: hidden;
            text-align: left;
            color: #333;

            @include ellipsis;

            &:hover {
              background: rgba(0, 0, 0, .15);
            }

            &:last-child {
              border-bottom: none;
            }

            &.current:before {
              display: block;
              content: '';
              position: absolute;
              top: $baseInnerPadding/2 + 6;
              left: 2px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: var(--main-colour);
            }
          }
        }
      }
    }

    volume {
      display: flex;

      bar {
        width: 60px;
        height: 30px;
        display: inline-block;
        position: relative;
        padding: 0 5px;
        margin-left: 5px;
        opacity: 0;
        transition: all .2s ease;

        track {
          display: block;
          position: absolute;
          height: 5px;
          top: 12.5px;
          left: 5px;
          background-color: var(--main-colour);
          pointer-events: none;
          z-index: 3;

          &:before {
            display: block;
            content: '';
            position: absolute;
            height: 5px;
            width: 50px;
            top: 0;
            left: 0;
            pointer-events: none;
            background-color: rgba(0, 0, 0, .15);
            transition: all .2s ease;
            z-index: 2;
          }
        }
      }

      &:hover {
        bar {
          opacity: 1;
        }
      }
    }

    times {
      height: 100%;
      padding: 5px;
      margin-top: 2px;
      font-family: monospace;
      color: #333;

      time {
        display: inline-block;

        &.end {
          margin-left: 0;

          &:before {
            content: '/';
          }
        }
      }
    }
  }

  &.ui-hidden {
    * {
      cursor: none;
    }

    controls {
      opacity: 0;
    }

    title {
      opacity: 0;
    }

    nav {
      opacity: 0;
    }
  }
}
