@import "variables";

settings {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background: $backgroundColour;

  @include noUserSelect;

  title {
    display: block;
    padding: $baseInnerPadding $baseInnerPadding*1.68 $baseInnerPadding*1.68 $baseInnerPadding*1.68;
    font-size: 20px;
  }

  tabs {
    width: 150px;
    background: darken($backgroundColour, 5%);

    tab {
      position: relative;
      display: block;
      padding: $baseInnerPadding $baseInnerPadding*1.68;
      border-bottom: solid 1px darken($backgroundColour, 5%);
      font-size: 18px;
      color: var(--main-colour);

      &.shown:before {
        display: block;
        content: '';
        position: absolute;
        top: $baseInnerPadding + 7;
        left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--main-colour);
      }

      &:hover {
        background: var(--main-colour-light);
      }
    }
  }

  pane {
    width: 100%;
    display: none;

    &.shown {
      display: block;
    }

    row {
      width: 100%;
      display: flex;
      padding: $baseInnerPadding/1.68 $baseInnerPadding*1.68;

      name {
        width: 50%;
        display: block;
        overflow: hidden;
        white-space: nowrap;

        path {
          color: darken($backgroundColour, 15%);
          font-size: 10px;
        }
      }

      control {
        width: 50%;
        display: block;
        color: var(--main-colour);
        margin-left: $baseInnerPadding;
      }

      &:hover {
        background: darken($backgroundColour, 5%);
      }
    }
  }

  &.hidden {
    display: none;
  }

  exit {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: $headerHeight;
    height: $headerHeight/2;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    line-height: 1.7;
    color: var(--main-colour);
    transition: all .2s ease;

    &:hover {
      background-color: var(--main-colour-light);
    }
  }

  /* Elements */

  dropdown {
    width: 100%;
    display: block;
    position: relative;

    selected {
      display: block;
    }

    items {
      position: absolute;
      display: none;
      top: -$baseInnerPadding;
      left: -$baseInnerPadding*1.68;
      right: -$baseInnerPadding;
      z-index: 10;
      background: $backgroundColour;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);

      &.opened {
        display: block;
      }

      item {
        display: block;
        padding: $baseInnerPadding $baseInnerPadding*1.68;

        &:hover {
          background: var(--main-colour-light);
        }
      }
    }
  }
}