@import "variables";

$summaryHeight: 80px;

anime {
  display: block;
  position: relative;
  overflow-y: scroll;

  summary {
    display: block;
    padding: $baseInnerPadding;
    border-bottom: solid 1px $delimiterColour;

    title {
      display: block;
      font-size: 24px;
    }

    path {
      display: block;
      width: 100%;
      color: #999;
      font-size: 12px;
      @include ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  actions {
    display: flex;
    margin: $baseInnerPadding;
    border: solid 1px $mainColour;
    border-radius: 2px;

    button {
      flex-grow: 1;
      border: none;
      border-right: solid 1px $mainColour;

      &:last-child {
        border-right: none;
      }
    }
  }

  list {
    display: block;
    flex-grow: 1;
    overflow: visible;
    margin-top: $baseInnerPadding/1.68;
    padding-bottom: $baseInnerPadding/1.68;
    border-bottom: solid 1px lighten($delimiterColour, 5%);

    title {
      display: block;
      padding: 0 $baseInnerPadding;
      margin-bottom: $baseInnerPadding/1.68;
      font-size: 14px;
      color: #999;
    }

    &>div {
      padding: $baseInnerPadding/1.68 $baseInnerPadding;

      @include ellipsis;

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }

      &.selected {
        padding-left: $baseInnerPadding*1.68;
      }
    }
  }

  list-row {
    display: flex;
  }

  button {
    flex-grow: 1;
    color: $mainColour;
    padding: $baseInnerPadding $baseInnerPadding*1.68;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-family: 'Open Sans';
    outline: none;
    border-right: solid 1px $delimiterColour;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: lighten($mainColour, 40%);
    }
    &:disabled {
      opacity: .8;
    }
  }
}