@import "variables";

$summaryHeight: 80px;

entry {
  display: block;
  position: relative;
  overflow-y: scroll;

  greeting {
    display: block;
    position: absolute;
    color: #999;
    font-size: 30px;
    top: 50%;
    left: 50%;
    width: 270px;
    line-height: 1;
    margin-top: -15px;
    margin-left: -135px;
    text-align: center;
  }

  summary {
    display: block;
    padding: $baseInnerPadding $baseInnerPadding*1.68;
    border-bottom: solid 1px $delimiterColour;

    title {
      display: block;
      font-size: 24px;
    }

    path {
      display: block;
      width: 100%;
      color: #999;
      font-size: 12px;
      @include ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  actions {
    display: block;
    padding: $baseInnerPadding $baseInnerPadding*1.68;
    border-bottom: solid 1px lighten($delimiterColour, 5%);

    btn {
      display: inline-block;
      border: solid 1px $mainColour;
      border-right: none;

      &:last-child {
        border-right: solid 1px $mainColour;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      &:first-child {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
  }

  list {
    display: block;
    overflow: visible;
    padding-top: $baseInnerPadding/1.68;
    padding-bottom: $baseInnerPadding/1.68;
    border-bottom: solid 1px lighten($delimiterColour, 5%);

    title {
      display: block;
      padding: 0 $baseInnerPadding*1.68;
      margin-bottom: $baseInnerPadding/1.68;
      font-size: 14px;
      color: #999;
    }

    &>div {
      position: relative;
      padding: $baseInnerPadding $baseInnerPadding*1.68;

      @include ellipsis;

      &:hover {
        background-color: rgba(0, 0, 0, .05);
      }

      &.selected:before {
        background-color: $mainColour;
        transition: all .2s ease;
      }

      &:before {
        position: absolute;
        display: block;
        content: '';
        top: calc(50% - 2px);
        left: 7px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }

  list-row {
    display: flex;

    list {
      flex-grow: 1;
      width: 50%;
    }
  }

  btn {
    flex-grow: 1;
    color: $mainColour;
    padding: $baseInnerPadding $baseInnerPadding*1.68;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-family: 'Open Sans';
    outline: none;
    border-right: solid 1px $delimiterColour;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: lighten($mainColour, 40%);
    }
    &:disabled {
      opacity: .8;
    }
  }
}