@import "variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;

  -webkit-user-select: none;

  color: $foregroundContrastColour;
  background: linear-gradient(45deg, #ff016b 0%,#cc0267 100%);
  transition: all .2s ease;

  &.hidden {
    background: transparent;

    actions {
      opacity: 0;
    }
  }

  title {
    -webkit-app-region: drag;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: $baseInnerPadding $baseInnerPadding 0 $baseInnerPadding;
    width: calc(100% - #{$headerHeight/2});
    text-transform: uppercase;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    text-align: center;
  }

  actions {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    button {
      color: $foregroundContrastColour;
      padding: $baseInnerPadding $baseInnerPadding*1.68;
      background-color: transparent;
      border: none;
      font-size: 14px;
      font-family: 'Open Sans';
      outline: none;

      &:hover {
        background-color: rgba(255,255,255, .4);
      }
      &:disabled {
        opacity: .8;
      }
    }
  }

  controls {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: $headerHeight/2;
    height: $headerHeight;
    font-size: 20px;
    z-index: 1;

    * {
      text-align: center;
      line-height: 1.7;
      color: rgba(255, 255, 255, .8);
      transition: all .2s ease;
    }
    *:hover {
      color: #fff;
      background-color: rgba(255,255,255,.3);
    }

    exit {
      display: block;
      width: 100%;
      height: $headerHeight/2;
    }

    minimize {
      display: block;
      width: 100%;
      height: $headerHeight/2;
    }
  }
}
