@import "variables";

layer {
  display: flex;
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px) brightness(.5);
  background-color: $backgroundColour;
  opacity: 1;
  transition: all .2s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0) brightness(1);
  }

  &>* {
    width: 50%;
  }

  list {
    display: block;
    overflow-y: scroll;
    border-right: solid 1px $delimiterColour;

    item {
      position: relative;
      display: block;
      padding: $baseInnerPadding $baseInnerPadding*1.68;
      border-bottom: solid 1px $delimiterColour;
      -webkit-user-select: none;

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: $baseInnerPadding + 5.5;
        left: -10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $mainColour;
      }

      &.opened::before {
        left: -5px;
        transition: left .2s ease;
      }

      &:active {
        background-color: darken($backgroundColour, 10%);
        transition: background-color .2s ease-in;
      }

      title {
        display: block;
        width: 100%;
        font-size: 18px;
        line-height: 1.2;

        @include ellipsis;
      }

      summary {
        display: block;
        color: #666;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}