$baseInnerPadding: 10px;

$headerHeight: 65px;

$mainColour: hsl(335, 100%, 50%);
$backgroundColour: #fefefe;
$foregroundContrastColour: #fefefe;

$delimiterColour: #dedede;

$playerMainColour: rgba(0, 0, 0, .7);

// Mixins

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin noUserSelect {
  -webkit-user-select: none;
  user-select: none;
}