@import "variables";

$summaryHeight: 80px;

anime {
  display: block;
  position: relative;
  border-right: solid 1px $delimiterColour;
  overflow-y: scroll;

  summary {
    display: block;
    padding: $baseInnerPadding;
    border-bottom: solid 1px $delimiterColour;

    title {
      display: block;
    }

    path {
      display: block;
      width: 100%;
      color: #999;
      font-size: 12px;
      @include ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  backery {
    display: block;
    //margin: $baseInnerPadding;
    border-bottom: solid 1px $delimiterColour;

    title {
      display: block;
      text-align: center;
      font-weight: 100;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: solid 1px $delimiterColour;
    }

    subtitle {
      display: block;
      color: darken($delimiterColour, 50%);
      font-size: 12px;
      border-bottom: solid 1px lighten($delimiterColour, .1%);
      padding: $baseInnerPadding/2 3px 0 3px;
    }

    selectors {
      display: flex;
      border-bottom: solid 1px $delimiterColour;

      list {
        flex: 1;
        margin: 0;
        border: none;
        border-right: solid 1px $delimiterColour;
        background-color: transparent;
        overflow-y: visible;

        subtitle {
          padding: 0 3px;
        }

        option {
          display: block;
          padding: $baseInnerPadding $baseInnerPadding*1.68;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    episodes {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      &::-webkit-scrollbar-thumb {
        background-color: $mainColour;
      }

      episode {
        display: block;
        flex-grow: 1;
        padding: $baseInnerPadding;
        border-bottom: solid 1px $delimiterColour;
        border-right: solid 1px $delimiterColour;
        text-align: center;
      }
    }

    settings {
      display: block;
      border-bottom: solid 1px $delimiterColour;
      padding: $baseInnerPadding;
    }

    actions {
      display: flex;

      button {
        flex-grow: 1;
        color: $mainColour;
        padding: $baseInnerPadding $baseInnerPadding*1.68;
        background-color: transparent;
        border: none;
        font-size: 14px;
        font-family: 'Open Sans';
        outline: none;
        border-right: solid 1px $delimiterColour;

        &:last-child {
          border-right: none;
        }

        &:hover {
          background-color: lighten($mainColour, 40%);
        }
        &:disabled {
          opacity: .8;
        }
      }
    }
  }
}