@import "variables";

layer {
  background: $backgroundColour url(http://nya.sh/top/top54.png) bottom right no-repeat;
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  item {
    display: block;
    background-color: $backgroundColour;
    padding: $baseInnerPadding $baseInnerPadding*1.68;
    border-bottom: solid 1px #dedede;

    title {
      display: block;
    }

    summary {
      display: block;
      color: #666;
      font-size: 12px;
      font-style: italic;
      font-weight: 100;
    }
  }
}