@import "variables";
@import "header";
@import "layer";

* {
  cursor: default;
  box-sizing: border-box;
}

gui {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  font-family: "Open Sans";
}
