@import "variables";
@import "header";
@import "layer";
@import "anime";

* {
  cursor: default;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 2px;
}
::-webkit-scrollbar-track {
  border-left: solid 1px $delimiterColour;
  background-color: $delimiterColour;

  &:horizontal {
    border-left: none;
    border-top: solid 1px $delimiterColour;
  }
}
::-webkit-scrollbar-thumb {
  width: 2px;
  box-shadow: 1px 0 0 0 $delimiterColour inset;
  background-color: #fff;

  &:horizontal {
    box-shadow: 0 1px 0 0 $delimiterColour inset;
  }
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

gui {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  font-family: "Open Sans";
}
