@import "variables";
@import "library-item";
@import "library-item-details";

.library {
  z-index: 200;

  .player-library-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(52, 58, 64, .5);

    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease;

    z-index: 199;

    &.mod-shy {
      pointer-events: inherit;
      opacity: 1;
    }
  }

  .library-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: $colorMainForeground;
    background-color: rgba($colorMainBackground, .8);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    transform: translateX(-($libraryDetailsWidth + $libraryListWidth));
    transition: transform .2s ease;

    z-index: 200;

    &.mod-shy {
      transform: translateX(-$libraryListWidth);
      box-shadow: 0 0 50px rgba(0, 0, 0, .8);

      .library-details {
        margin-top: 0;
        padding-top: 32px;

        .library-opener {
          opacity: 1;
          display: flex;
        }
      }
    }

    &.mod-focused {
      transform: translateX(0vw);
    }

    .library-controls {
      display: flex;
      position: absolute;
      top: $windowControlsButtonHeight;
      left: 0;
      width: $libraryListWidth;
      padding: 10px;
      z-index: 100;

      &>* {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      input {
        @include input;
        flex-grow: 1;
      }
    }

    .library-list {
      width: calc(#{$libraryListWidth} - 20px);
      height: calc(100vh - 32px - 60px);
      margin-top: calc(32px + 60px);
      margin-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow-y: scroll;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      -webkit-mask-image: linear-gradient(
                      to top,
                      rgba(0,0,0, .5) 0px,
                      rgba(0,0,0, 1) 10px,
                      rgba(0,0,0, 1) calc(100% - 10px),
                      rgba(0,0,0, .5) 100%
      );
    }
  }
}
