@import "variables";

$entryItemHeight: 140px;
$spaceBetweenEps: 1px;

.library {
  z-index: 200;

  button {
    @include button;
  }

  .player-library-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(52, 58, 64, .5);

    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease;

    z-index: 199;

    &.mod-shy {
      pointer-events: inherit;
      opacity: 1;
    }
  }

  .library-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: $colorMainForeground;
    background-color: rgba($colorMainBackground, .8);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    transform: translateX(-($libraryDetailsWidth + $libraryListWidth));
    transition: transform .2s ease;

    z-index: 200;

    &.mod-shy {
      transform: translateX(-$libraryListWidth);
      box-shadow: 0 0 50px rgba(0, 0, 0, .8);

      .library-details {
        margin-top: 0;
        padding-top: 32px;

        .library-opener {
          opacity: 1;
          display: block;
        }
      }
    }

    &.mod-focused {
      transform: translateX(0vw);
    }

    .adder {
      position: absolute;
      bottom: $padding;
      left: $padding;
      z-index: 100;
    }

    .library-list {
      width: $libraryListWidth;
      height: 100vh;
      padding: $padding;
      margin-top: 32px;
      overflow-y: scroll;
      //box-shadow: -1px 0 0 $colorMainBorder inset;

      .library-item {
        position: relative;
        overflow-x: hidden;
        padding: 20px 16.8px 20px 16.8px;
        margin-bottom: 1px;
        background-color: rgba($highlightColor, 1);
        display: flex;
        align-items: center;

        &:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }

        &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &.mod-selected,
        &.mod-selected:hover {
          background-color: rgba($highlightColor, .5);

          .progress {
            opacity: 1;
          }
        }

        &:hover {
          background-color: rgba($highlightColor, .85);
        }

        .title {
          @include truncate;
          width: calc(#{$libraryListWidth} - 33.6px - 80px);
          font-size: 20px;
          line-height: 28px;
          overflow: hidden;
          z-index: 10;
          letter-spacing: .5px;
        }

        .counter {
          position: absolute;
          right: 16.8px;
          top: calc(50% - 15px);
          width: 80px;
          text-align: right;
          font-size: 30px;
          line-height: 1;
          color: rgba($colorMainBorder, .5);
          text-shadow: 0 0 1px rgba($highlightColor, .8);
          z-index: 10;
        }

        .progress {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          min-width: 10%;
          transition: width .2s ease;
          background-color: rgba($colorMainForeground, .2);
          opacity: .05;
        }
      }
    }

    .library-details {
      position: relative;
      width: $libraryDetailsWidth;
      height: 100vh;
      overflow-y: scroll;
      padding: 0 40px;
      margin-top: $windowControlsButtonHeight;

      .library-details-placeholder {
        width: 100%;
        height: 100%;
        padding-top: 10%;
        color: $clr5;
        font-size: 24px;
        text-align: center;
      }

      .library-opener {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $windowControlsButtonHeight;
        box-shadow: 0 1px 0 $colorMainBorder;
        background-color: transparent;
        line-height: $windowControlsButtonHeight;
        padding: 0 $padding*$multiplier;
        color: $colorMainForeground;
        font-size: 16px;
        opacity: 0;

        transition: all .2s ease;

        &:hover {
          color: $colorContrast;
          background-color: $colorMainForeground;
        }
      }

      header {
        display: flex;
        padding: $padding;
        font-size: 35px;
        width: 100%;
        height: $entryItemHeight;
        line-height: 1.28;
        text-align: center;
        justify-content: center;
        flex-direction: column;
      }

      .entry-path {
        @include truncate;
        font-size: 14px;
        color: $clr6;
      }

      .controls {
        display: flex;
        justify-content: space-between;

        & > *:first-child {
          border-top-left-radius: $buttonHeight/2;
          border-bottom-left-radius: $buttonHeight/2;
        }

        & > *:last-child {
          border-top-right-radius: $buttonHeight/2;
          border-bottom-right-radius: $buttonHeight/2;
        }

        button {
          border-radius: 0;
        }

        .select {
          position: relative;
          width: 80%;
          height: $buttonHeight;

          $height: 4px;

          .angle {
            display: block;
            content: '>';
            position: absolute;
            top: $height + 6px;
            right: $padding;
            pointer-events: none;
            transform: rotateZ(90deg);

            transition: all .2s ease;

            z-index: 3;

            svg {
              width: 20px;
              height: 20px;
              fill: $colorMainForeground;
            }
          }

          &.mod-open .angle {
            transform: rotateZ(-90deg);
          }

          &:first-child .current {
            border-top-left-radius: $buttonHeight/2;
            border-bottom-left-radius: $buttonHeight/2;
          }

          .current,
          .list {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border-right: none;
            transition: opacity .2s ease-out;
            background-color: rgba($colorMainForeground, .2);
            margin-right: 1px;
          }

          .current {
            visibility: visible;
            padding: $height $padding*$multiplier;
            display: block;
            height: 100%;
            opacity: 1;
          }

          .list {
            visibility: hidden;
            height: auto;
            opacity: 0;
            list-style: none;
            background-color: rgba($colorMainForeground, .1);

            li {
              height: $buttonHeight;
              padding: $height $padding*$multiplier;
              border-bottom: solid 1px rgba($colorMainForeground, .5);

              &:last-child {
                border-bottom: none;
              }

              &:hover {
                background-color: rgba($colorMainForeground, .1);
              }
            }
          }

          &.mod-open {
            .current {
              visibility: hidden;
              opacity: 0;
            }

            .list {
              visibility: visible;
              opacity: 1;
              backdrop-filter: blur(10px);
            }
          }
        }
      }

      .episodes {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        overflow: hidden;

        div {
          padding: $padding $padding*$multiplier;
          background-color: rgba($highlightColor, .5);
          line-height: 1;
          text-align: center;
          margin-right: $spaceBetweenEps;
          margin-bottom: $spaceBetweenEps;
          flex-grow: 1;
        }
      }
    }
  }
}
