@import "variables";

.player {
  @include fixedPane;

  z-index: 100;

  &.mod-focused {
    .player-controller {
      filter: blur(0px);
    }
  }

  .player-controller {
    @include fixedPane;

    filter: blur(50px);
    will-change: filter;

    .player-controller-mpv {
      width: 100vw;
      height: 100vh;
      background-color: black;
    }
  }

  .player-controls-holder {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $playerControlsHeight + 30px;

    z-index: 102;

    &:hover .player-controls {
      backdrop-filter: blur(20px);
      transform: translateY(0);
      opacity: 1;
    }

    .player-controls {
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      height: $playerControlsHeight;

      background-color: rgba($colorMainBackground, .2);
      backdrop-filter: blur(0);
      transform: translateY($playerControlsHeight - 1px);
      color: $colorMainForeground;
      text-shadow: 0 0 5px rgba($clr9, .5);

      transition: backdrop-filter .2s ease, all .2s ease;

      z-index: 103;

      .buttons {
        display: flex;
        height: 100%;
      }

      button {
        position: relative;
        height: 100%;
        border: none;
        background-color: transparent;
        padding: 5px 15px;
        outline: none;

        svg {
          width: 18px;
          height: 18px;
          fill: $colorMainForeground;
          stroke: $colorMainForeground;
        }

        &:hover {
          background-color: rgba($colorMainForeground, .2);
        }

        &.play-pause {
          padding-left: 25px;
          padding-right: 25px;
        }

        &.volume {
          .amount {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($colorMainForeground, .2);
            opacity: 0;
          }

          &:hover .amount {
            opacity: 1;
          }
        }
      }

      .trackbar {
        flex-grow: 10;
        position: relative;
        height: 100%;

        .progress {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 0;
          background: linear-gradient(
            to left,
            rgba(darken($colorContrast, 10%), .5) 0%,
            rgba(darken($colorContrast, 10%), .35) 10px,
            rgba(desaturate($colorContrast, 20%), .15) 30px,
            rgba(desaturate($colorContrast, 20%), .15) 100%
          );
          box-shadow: 1px 0 0 $colorContrast;

          z-index: 2;
        }

        .time {
          position: absolute;
          right: $padding*$multiplier;
          top: calc(50% - 7px);
          font-size: 14px;
          line-height: 1;

          user-select: none;
          pointer-events: none;

          z-index: 1;
        }
      }
    }
  }

  .library-trigger {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    opacity: 0;
    user-select: none;
    cursor: default;
    text-shadow: 0 0 5px rgba($clr9, .5);

    transition: all .2s ease;

    z-index: 101;

    &:hover {
      opacity: 1;
      color: $colorMainForeground;
      background-color: rgba($colorMainBackground, .2);
      backdrop-filter: blur(20px);
    }

    &>span {
      transform: rotate(-90deg);
      letter-spacing: 10px;
    }
  }
}
