$colorContrast2: hsl(345, 100%, 50%);
$colorContrast: hsl(210, 100%, 60%);
$colorMainBackground: rgba(#343a40, .5);
$colorMainForeground: #e9ecef;
$colorMainBorder: rgba($colorMainForeground, .2);
$highlightColor: rgba(#212529, .5);

$clr0: #f8f9fa;
$clr1: #f1f3f5;
$clr2: #e9ecef;
$clr3: #dee2e6;
$clr4: #ced4da;
$clr5: #adb5bd;
$clr6: #868e96;
$clr7: #495057;
$clr8: #343a40;
$clr9: #212529;

$padding: 10px;
$multiplier: 1.68;

$playerControlsHeight: 50px;

$libraryListWidth: 60vw;
$libraryDetailsWidth: 40vw;

$windowControlsButtonHeight: 32px;
$windowControlsButtonWidth: 46px;

$buttonHeight: 40px;

@mixin fixedPane() {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin button() {
  height: $buttonHeight;
  padding: $padding $padding*$multiplier;
  color: $colorMainForeground;
  font-size: 18px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: solid 1px rgba($colorMainForeground, .5);
  border-radius: 3px;
  background-color: rgba($colorMainForeground, .1);

  transition: all .2s ease-out;
  outline: none;

  &:hover {
    background-color: rgba($colorMainForeground, .05);
  }

  svg {
    fill: currentColor;
    width: 18px;
    height: 18px;
  }
}
